<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .cart-button {
            background-color: red;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-left: 20px;
        }
        .cart-button:hover {
            background-color: darkred;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/products">Productos</a></li>
                <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
                <li><a href="/create">Crear Producto</a></li>
                <li><a href="/cart-details/{{carritoId}}" class="cart-button">Carritos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="content">
            <div class="main-content">
                {{{body}}} 
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; Septiembre 2024 - Carlos Vergara P</p>
    </footer>
</body>
</html>
